.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.bgHeader {
  margin: 0;
  padding-top: 25px;
  padding-left: 25px;
  color: #000;
}

.bgText {
  padding-left: 25px;
  padding-top: 10px;
  color: #000;
}
