.homeLink {
  color: white;
  a:visited {
    color: #fff;
  }
}

.menuBarLink {
  color: #bdfef2;
  a:visited {
    color: #bdfef2;
  }
}

.header {
  width: 100%;
  padding: 50px 0px 50px;
  background: #212121;
  color: #fff;
  text-align: center;
  justify-content: center;
  a {
    text-decoration: none;
  }
}
